---
import { Icon } from 'astro-icon/components';
import { Image } from 'astro:assets';
import image5 from '../../assets/imgfooter2.webp';
---

<section
  class='lg:after:bg-[url(/src/icons/vector.svg)] lg:after:-z-[3] after:bg-[center_20px] lg:after:bg-[-330px_-30px] after:absolute after:inset-0 after:bg-no-repeat after:bg-[1140px_auto] lg:before:-z-10 lg:before:block before:hidden before:absolute before:bg-no-repeat before:inset-0 before:bg-[url(/src/icons/vector.svg)] before:bg-[754px_120px] before:2xl:bg-[1364px_120px] before:bg-[1172px auto] relative overflow-hidden lg:flex lg:flex-col lg:justify-center lg:h-[430px] 2xl:h-[500px]'
>
  <Icon class='lg:hidden absolute w-full -z-[2]' name='vector' height={400} />
  <div
    class='lg:absolute lg:w-full min-[2000px]:justify-center min-[2000px]:gap-[200px] lg:left-1/2 lg:top-1/2 lg:-translate-x-1/2 lg:[--tw-translate-y:72%] min-[2000px]:[--tw-translate-y:22%] flex flex-col lg:flex-row justify-center lg:justify-evenly items-start lg:items-center pl-[20px] lg:z-10'
  >
    <div class='lg:flex lg:justify-center lg:items-center lg:gap-6'>
      <Icon name='frame2' width={62} height={62} class='mt-[60px] lg:mt-0' />
      <p class='text-[#68767C] hidden lg:inline-block lg:text-[10px] uppercase font-bold'>
        All rights reserved COPYRIGHTS SECURITY ZENITH
      </p>
    </div>
    <div
      class='flex flex-col lg:flex-row items-start lg:items-center justify-center gap-[10px] lg:gap-5 xl:gap-8'
    >
      <p
        class='text-primary mt-[25px] lg:mt-0 font-bold leading-[28px] uppercase text-[.8rem] lg:text-[10px]'
      >
        FAST BUSINESS CONTACT
      </p>
      <p class='text-white text-[1rem] font-medium tracking-[-.48px]'>
        +48 691 981 346
      </p>
      <p class='text-white text-[1rem] font-medium tracking-[-.48px] uppercase'>
        office@security-zenith.com
      </p>
    </div>
    <div class='flex gap-5 mt-[33px] mb-8'>
      <a aria-label='social-icon' href='/'><Icon name='link' /></a>
      <a aria-label='social-icon' href='/'><Icon name='yu' /></a>
      <a aria-label='social-icon' href='/'><Icon name='x' /></a>
      <a aria-label='social-icon' href='/'><Icon name='face' /></a>
      <a aria-label='social-icon' href='/'><Icon name='insta' /></a>
    </div>
  </div>
  <div class='overflow-x-clip lg:overflow-visible'>
    <Icon
      name='zenith-logo'
      class='w-[155%] lg:h-fit lg:w-full h-auto lg:absolute lg:bottom-0'
    />
  </div>
  <p
    class='lg:hidden text-[#68767C] leading-7 uppercase font-bold text-[.625rem] pl-8 pb-[20px] pt-[23px]'
  >
    All rights reserved COPYRIGHTS SECURITY ZENITH
  </p>
  <div class="2xl:relative 2xl:flex 2xl:justify-center 2xl:items-center 2xl:h-screen">
    <Image
      class="bottom-[0px] lg:bottom-[-145px] absolute -z-[1] object-contain lg:h-[702px]"
      src={image5}
      alt="snowy-mountain"
    />
  </div>
</section>

