---
import '../../styles/fonts.css';
import Image from 'astro/components/Image.astro';
import hero from '../../assets/hero-big2.webp'
---

<section
  class='lg:before:block before:hidden before:absolute before:bg-no-repeat before:inset-0 before:bg-[url("/src/icons/vector.svg")] before:bg-[1254px_70px] before:bg-[1172px auto] after:bg-[url("/src/icons/vector.svg")] after:bg-[center_20px] lg:after:bg-left-top relative flex justify-center items-start flex-col after:absolute after:inset-0 after:bg-no-repeat after:bg-[1140px_auto]'
>
  <div class='mt-14 lg:mt-[15rem] pl-5 lg:pl-0 z-20 lg:mx-[120px]'>
    <p class='text-primary uppercase font-medium font font-trakis text-xl'>
      Security Zenith
    </p>
    <h1 class='text-white font-extrabold font-manrope w-full flex flex-col'>
      <span class='text-[clamp(1.7rem,6vw+.5rem,4rem)] leading-[48px] lg:leading-[98px]'
        >Get to the Peak of</span
      ><span
        class='leading-[65px] md:leading-[120px] lg:leading-[147px] tracking-[-1.76px] text-[clamp(2.7rem,12.5vw,17rem)]'
      >
        Cybersecurity</span
      >
    </h1>
  </div>
  <Image
    class='mt-[66px] lg:mt-[-400px] object-cover z-10 w-full h-[495px] lg:h-fit relative'
    loading={'eager'}
    src={hero}
    alt={'snowy-mountains'}
  />
  
</section>

