---
import '../../styles/fonts.css';
import Image from 'astro/components/Image.astro';
import small from '../../assets/big-m.png';
---

<section
  class='relative flex justify-center items-start flex-col after:absolute after:inset-0 after:bg-no-repeat after:bg-[1140px_auto]'
>
  <div class='mt-14 pl-5 z-20'>
    <p class='text-primary uppercase font-medium font font-trakis text-xl'>
      Security Zenith
    </p>
    <h1 class='text-white font-extrabold font-manrope w-full flex flex-col'>
      <span class='text-[clamp(1.7rem,6vw+.5rem,3.3rem)] leading-[48px]'
        >Get to the Peak of</span
      ><span
        class='leading-[58px] tracking-[-1.76px] text-[clamp(2.7rem,12vw+.4rem,13rem)]'
      >
        Cybersecurity</span
      >
    </h1>
  </div>
  <Image
    class='mt-[66px] object-cover z-10 w-full h-[464px] relative'
    loading={'eager'}
    src={small}
    alt={'snowy-mountains'}
  />
  
</section>

<style>
    .test {
        
        margin-inline: 35px;
        height: 300px;
        
    }
  section:after {
    background-image: url('../../icons/vector.svg');
    background-position: center 20px;
  }
</style>
