---
import AutoProcess from './Activities/AutoProcess.astro';
import SecureProcess from './Activities/SecureProcess.astro';
import MonitorProcess from './Activities/MonitorProcess.astro';
import ConsultingProcess from './Activities/ConsultingProcess.astro';
import { Image } from 'astro:assets';
import pyramid2 from '../../assets/pyramid2.webp';
import chart2 from '../../assets/chart2.png';
import monitorchart from '../../assets/monitorchart.png';
import chart5 from '../../assets/chart4-1.png';
import Monitor from '../../utils/Monitor';
import AutoLottie from '../../utils/AutoLottie';
import SupportLottie from '../../utils/SupportLottie';
---

<section class='px-[18px] lg:px-[120px] mt-[150px] overflow-hidden'>
  <div class='flex flex-col gap-10'>
    <p
      class='font-trakis mt-[46px] text-xl text-primary uppercase tracking-[-0.6px]'
    >
      [002 OBSZARY DZIAŁANIA]
    </p>
    <h2
      class='uppercase text-white text-[clamp(1.6rem,7vw,3rem)] leading-[52px] lg:max-w-[700px]'
    >
      Działamy w obszarach cyberbezpieczeństwa
    </h2>
  </div>

  <div
    class='lg:flex lg:items-center lg:justify-center lg:gap-24 2xl:gap-[50px]'
  >
    <AutoProcess />
    <div class='relative'>
      <AutoLottie client:only />
      <Image
        class='absolute bottom-[-200px] lg:bottom-[-243px] md:max-w-[70%] md:left-[190px] lg:h-[330px] lg:left-[45px] lg:max-w-[120%] left-[75px] -z-[100]'
        src={pyramid2}
        alt='pyramid-icon'
      />
    </div>
  </div>

  <div
    class='lg:flex lg:items-center text-balance lg:justify-center lg:gap-24 2xl:gap-[100px]'
  >
    <SecureProcess />
    <div class='relative lg:order-[-1]'>
      <Image
        class='mt-[80px] lg:max-w-[100%] '
        src={chart2}
        alt='chart-diagram'
      />
      <SupportLottie client:only />
    </div>
  </div>

  <div
    class='lg:flex lg:items-center lg:justify-center lg:gap-24 2xl:gap-[100px]'
  >
    <MonitorProcess />
    <div class='relative'>
      <Image
        class='mt-[95px] object-contain'
        src={monitorchart}
        alt='chart-diagram'
      />
      <Monitor client:only />
    </div>
  </div>

  <div
    class='lg:flex lg:items-center lg:justify-center lg:gap-24 lg:my-[120px] 2xl:gap-[100px]'
  >
    <ConsultingProcess />
    <Image
      class='mt-[53px] lg:mt-0 mb-[180px] lg:mb-0 lg:max-w-[50%] lg:order-[-1]'
      src={chart5}
      alt='chart-diagram'
    />
  </div>
</section>
