---
import GlowButton from '../Shared/GlowButton.astro';
import SolutionsCards from './SolutionsCards.astro';
---

<section class='font-manrope relative'>
  <div class='pt-[113px] flex flex-col gap-10 items-start px-5 lg:px-[120px]'>
    <p class='font-trakis text-primary tracking-[-0.6px] text-xl'>
      [004 INDYWIDUALNE ROZWIĄZANIA]
    </p>
    <h2 class='text-[clamp(2rem,2vw,3rem)] uppercase text-white'>
      Elastyczne wsparcie dopasowane do Twoich potrzeb
    </h2>
  </div>

  <div
    class='mt-[85px] mx-5 flex flex-col gap-[25px] items-start lg:items-center justify-center'
  >
    <div class='lg:flex gap-5 mb-8 lg:w-full justify-evenly'>

      <SolutionsCards />

    </div>
    <GlowButton text='Kontakt' href='/' />
  </div>
</section>

<style>
  
  section::after {
    position: absolute;
    content: '';
    background-image: url('../../assets/hole.png');
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    left: 0px;
    background-position: -887.3px -610px;
    background-repeat: no-repeat;
    background-size: 1530px;
  }
</style>
