---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/HeroSection/Hero.astro';
import Intro from '../components/IntroSection/Intro.astro';
import Partners from '../components/IntroSection/Partners.astro';
import CyberSec from '../components/IntroSection/CyberSec.astro';
import ActiveArea from '../components/ActivitySection/ActiveArea.astro';
import PartnerShip from '../components/PartnershipSection/PartnerShip.astro';
import Solutions from '../components/SolutionsSection/Solutions.astro';
import Opionions from '../components/OpinionSection/Opionions.astro';
import Contact from '../components/ContactSection/Contact.astro';
---

<Layout title='Welcome to Astro.'>
  <main>
    <Hero />
    <Intro />
    <Partners />
    <CyberSec />
    <ActiveArea />
    <PartnerShip />
    <Solutions />
    <Opionions />
  </main>
  <footer>
    <Contact />
  </footer>
</Layout>

<style></style>
