---
import { Image } from 'astro:assets';
import phone from '../../assets/phone-sm-cop.webp';
import hands from '../../assets/hands-sm-cop.webp';
import people from '../../assets/people-sm-cop.webp';
import NormalButton from '../Shared/NormalButton.astro';
---

<section class='bg-bg-silver font-manrope lg:mx-[120px]'>
  <div class='pt-[96px] flex flex-col gap-10 items-center'>
    <p class='font-trakis uppercase tracking-[-0.6px] text-xl'>
      [003 tak pracujemy]
    </p>
    <h2 class='text-[clamp(2rem,2vw,3rem)] text-center'>PROCES WSPÓŁPRACY</h2>
  </div>

  <div class="lg:flex lg:items-center">
    <div
      class='mt-[119px] lg:mt-[60px] flex xl:flex-row flex-col items-start gap-[30px] px-[20px] xl:pl-[60px]'
    >
      <div class='hidden xl:flex gap-[55px]'>
        <div
          class='hidden xl:flex flex-col justify-center items-center px-2.5 rounded-md border border-gray-600 border-solid bg-opacity-0 h-[50px] w-[50px]'
          role='presentation'
        >
          <div
            class='flex shrink-0 bg-gray-600 rounded-full h-[15px] w-[15px]'
            aria-hidden='true'
          >
          </div>
        </div>
        <div class='hidden xl:block my-auto text-xl tracking-tight text-gray-600'>
          [01]
        </div>
      </div>
      <div class='lg:flex flex-col lg:pl-[45px]'>
        <h2
          class='text-[clamp(2rem,2vw,3rem)] mb-[30px] lg:mb-[37px] leading-[38.4px] text-pretty'
        >
          Skontaktuj się z nami
        </h2>
        <p class='text-textgrey text-[18px] lg:max-w-[90%]'>
          Nawiąż z nami kontakt w najwygodniejszy dla Ciebie sposób—mailowo,
          telefonicznie, przez Teams lub Signal. Jesteśmy dostępni, aby
          odpowiedzieć na Twoje pytania i rozpocząć rozmowę o potrzebach Twojej
          firmy w zakresie cyberbezpieczeństwa.
        </p>
      </div>
    </div>
    <div class='mt-[60px] max-w-full lg:max-w-[50%] h-[350px] lg:h-[300px] 2xl:h-[400px] object-cover lg:pr-[85px]'>
      <Image class='object-cover h-full' src={phone} alt='close-up-phone' />
    </div>
  </div>

  <div class='mt-[119px] flex flex-col items-start gap-[30px] px-[20px]'>
    <h2 class='text-[clamp(2rem,2vw,3rem)] leading-[38.4px] text-pretty'>
      Ustalenie ram projektu
    </h2>
    <p class='text-textgrey text-[18px]'>
      Nasz przedstawiciel skontaktuje się z Tobą, aby wspólnie ustalić ramy
      projektu. Zrozumiemy Twoje wymagania i oczekiwania, aby dostosować nasze
      usługi do specyfiki Twojej instytucji.
    </p>
  </div>
  <div class='mt-[60px] max-w-full h-[350px] object-cover'>
    <Image class='object-cover h-full' src={hands} alt='close-up-phone' />
  </div>

  <div class='mt-[119px] flex flex-col items-start gap-[30px] px-[20px]'>
    <h2 class='text-[clamp(2rem,2vw,3rem)] leading-[38.4px]'>
      Dobór zespołu ekspertów
    </h2>
    <p class='text-textgrey text-[18px]'>
      Dobierzemy grono ekspertów, którzy pomogą Ci rozwiązać problemy związane z
      bezpieczeństwem w Twojej firmie. Niezależnie od tego, czy potrzebujesz
      dedykowanego inżyniera na pełen etat, wsparcia na kilka dni w tygodniu czy
      nagłej pomocy w sytuacji kryzysowej—jesteśmy tu, by razem z wami wejść na
      szczyt cyberbezpieczeństwa.
    </p>
    <div>
      <NormalButton text='Kontakt' href='/' />
    </div>
  </div>
  <div class='mt-[60px] max-w-full h-[350px] object-cover'>
    <Image class='object-cover h-full' src={people} alt='close-up-phone' />
  </div>
</section>
