---
import { Icon } from 'astro-icon/components';
import NormalButton from '../Shared/NormalButton.astro';
---

<section class='flex justify-center w-full relative lg:mt-[-120px] xl:mt-[-240px] 2xl:mt-[-300px] lg:z-10'>
  <div
    class='bg-bg-silver w-full md:max-w-full mx-4 lg:mx-[120px] flex flex-col justify-start items-center px-4 pb-[48px] overflow-clip'
  >
    <p class='font-trakis mt-[49px] text-xl uppercase tracking-[-0.6px]'>
      [001 Intro]
    </p>
    <h2
      class='uppercase font-manrope leading-normal text-[clamp(1.7em,3vw,48px)] mt-[30px] mb-[45px] text-center'
    >
      Zenith Rozwiązań Cyberbezpieczeństwa
    </h2>
    <div class="lg:flex relative w-full ">
      <div class="xl:max-w-[60%] 2xl:max-w-[50%] lg:ml-[60px] 2xl:ml-[120px]">
        <p class='mb-5 md:mb-7 lg:mb-5 font-manrope text-left text-[18px]'>
          Security Zenith to <b>grupa pasjonatów</b> rozwiązań Cybersecurity. Dbam o
          to, żeby organizacje były <b>bezpieczne i przygotowane</b> na incydenty.
        </p>
        <p class='mb-5 font-manrope text-left text-[18px]'>
          W dynamicznie zmieniającym się świecie cyfrowym <b>
            ochrona danych i infrastruktury
          </b> to podstawa bezpieczeństwa każdej firmy.
        </p>
        <p class='mb-5 font-manrope text-left text-[18px]'>
          Nasza firma specjalizuje się w dostarczaniu <b>
            najnowocześniejszych rozwiązań cyberbezpieczeństwa
          </b>, które gwarantują spokój i stabilność Twojego biznesu.
        </p>
        <p class='mb-[30px] font-manrope text-left text-[18px]'>
          Tworzymy <b>bezpieczne środowiska IT</b>, wykorzystując zaawansowaną
          automatyzację procesów i technologię dopasowaną do Twoich potrzeb.
        </p>
        <div class='mr-auto'>
          <NormalButton text='Kontakt' href='/' />
        </div>
      </div>
      <div class="hidden xl:block xl:absolute xl:bottom-[-90px] lg:right-0 xl:right-[-183px] w-full max-w-[50%] transform translate-y-1/2">
        <Icon 
          class='lg:object-cover lg:w-[80%] lg:h-[auto]' 
          name="logo-black" 
          width={733} 
          height={733}
        />
      </div>
    </div>
  </div>
</section>
