---
import NormalButton from '../Shared/NormalButton.astro';
---

<section class='flex justify-center'>
  <div
    class='bg-bg-silver w-full md:max-w-[1440px] mx-4 flex flex-col justify-start items-center px-4 pb-[42px]'
  >
    <p class='font-trakis mt-[46px] text-xl uppercase tracking-[-0.6px]'>
      [001 Intro]
    </p>
    <h2
      class='uppercase font-manrope leading-normal text-[clamp(1.7em,3vw,48px)] my-10 text-center'
    >
      Zenith Rozwiązań Cyberbezpieczeństwa
    </h2>
    <div>
      <p class='mb-10 font-manrope text-left text-[18px]'>
        Security Zenith to <b>grupa pasjonatów</b> rozwiązań Cybersecurity. Dbam o
        to, żeby organizacje były <b>bezpieczne i przygotowane</b> na incydenty.
      </p>
      <p class='mb-10 font-manrope text-left text-[18px]'>
        W dynamicznie zmieniającym się świecie cyfrowym <b>
          ochrona danych i infrastruktury
        </b> to podstawa bezpieczeństwa każdej firmy.
      </p>
      <p class='mb-10 font-manrope text-left text-[18px]'>
        Nasza firma specjalizuje się w dostarczaniu <b>
          najnowocześniejszych rozwiązań cyberbezpieczeństwa
        </b>, które gwarantują spokój i stabilność Twojego biznesu.
      </p>
      <p class='mb-10 font-manrope text-left text-[18px]'>
        Tworzymy <b>bezpieczne środowiska IT</b>, wykorzystując zaawansowaną
        automatyzację procesów i technologię dopasowaną do Twoich potrzeb.
      </p>
      <div class='mr-auto'>
        <NormalButton text='Kontakt' href='/' />
      </div>
    </div>
  </div>
</section>
